
@{
    ViewData["Title"] = "SearchByAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search By Age</h1>

<form asp-action="SearchByAge" method="post">
    Min Age :
    <input type="number" id="minAge" name="minAge" />
    <br />
    Max Age :
    <input type="number" id="maxAge" name="maxAge" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>

